<md-toolbar
	md-scroll-shrink="false"
	md-shrink-speed-factor="0.9">
	
	<div class="md-toolbar-tools">
		<span>Avanoc Audit Log</span>
		<span flex></span>
		
		
	    <md-button 
	    	ng-repeat="menu in navbar | orderBy:['priority']" 
	    	ng-show="menu.visible()" 
    		ng-click="menu.active()"
	    	class="md-icon-button" 
	    	aria-label="Favorite" 
	    	class="hide-on-small-only">
			<md-icon ng-show="menu.icon">{{menu.icon}}</md-icon>
			<span ng-hide="menu.icon">{{menu.label | translate}}</span>
	    </md-button>
		
		
		<md-button ng-click="toggleSidenav('main')">
			<md-tooltip>Show side navigator</md-tooltip>
			<md-icon>menu</md-icon>
		</md-button>
	</div>
</md-toolbar>



<md-sidenav 
	md-component-id="main" 
	class="md-sidenav-right">
    <div layout="column">
		<img src="img/logo.svg" flex="100"></img>
    </div>
    <md-divider></md-divider>
    <md-list> 
		<md-list-item
		    	ng-repeat="menu in sidebar | orderBy:['priority']" 
		    	ng-show="menu.visible()" 
		    	ng-click="menu.active()">
			<md-icon ng-show="menu.icon">{{menu.icon}}</md-icon>
			<p>{{menu.label | translate}}</p>
		</md-list-item>
    </md-list>
</md-sidenav>

