<div layout="column" layout-align="space-around center">
	<h1>Avanoc Audit Log server</h1>
	<h5 class="header col s12">A modern secure audit log server for
		smart systems.</h5>
	<br /> <a href="#"
		id="download-button"
		class="btn-large waves-effect waves-light teal lighten-1"> Get
		Started</a>
</div>

<div layout="row" layout-sm="column" layout-align="center start" layout-margin>

	<div layout="column" layout-align="center center"  flex>
		<h1>
			<i class="material-icons">flash_on</i>
		</h1>
		<h5>Speeds up development</h5>
		<p>We did most of the heavy lifting for you to provide a secure
			log appender that incorporate our audit log server. Additionally, we
			prepare LogBack appender for Java developers.</p>
	</div>

	<div layout="column" layout-align="center center" flex>
		<h1>
			<i class="material-icons">group</i>
		</h1>
		<h5>User Experience Focused</h5>
		<p>By utilizing elements and principles of Avanoc Audit Logger, we
			were able to create a framework that incorporates local audit log and
			remote audit log server that provide more flexibility to users.
			Additionally, an underlying local log system allow for a more user
			experience.</p>
	</div>

	<div layout="column" layout-align="center center"  flex>
		<h1>
			<i class="material-icons">settings</i>
		</h1>
		<h5>Easy to work with</h5>
		<p>We have provided detailed documentation as well as specific
			code examples to help new users get started. In the other hand, basic
			project samples and LogBack configurations are available.</p>
	</div>
</div>

<div layout="column">
	<h3>
		<i class="mdi-content-send brown-text"></i>
	</h3>
	<h4>Abut Us</h4>
	<p class="left-align light">Avanoc is the expert in protecting
		digital assets and securing business solutions and banking
		applications. Avanoc offers strong authentication, PKI technology,
		device and data security and banking applications. Avanoc established
		2003 as private owned company headquartered in Vienna, Austria. Its
		revenue increased continuously from the beginning each year with a
		rate of more than 300%. Avanoc’s major market is the Middle East and
		Africa region. More than 35 motivated and experienced consultants
		worldwide build one of our strengths and guarantee successful project
		implementations. “Building long term partnership with our clients,
		providing state of the art technologies, products and services,
		continuous learning and improving our knowledge and last but not least
		trust in the way we work, makes us so powerful and brings the trust of
		the clients” says Dr. Ghaderi the CEO of the group.</p>
</div>

